.custom-file-upload {
    display: inline-block;
    background-color: #ffffff;
    color: #0d6efd;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #0d6efd;
    transition: all 0.3s ease;
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-weight: 600;
    font-size: 14px;
}
.custom-file-upload:hover {
    background-color: #0d6efd;
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(13, 110, 253, 0.2);
}

#category-image,
#product-images,
.product-images,
.category-image {
    display: none;
}

.image-preview {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #000;
    padding: 2px;
}

.btn-delete-category i,
.btn-update-category i {
    font-size: 15px;
}

#add-category,
#add-product,
.modal-body {
    color: #000000;
    font-size: 1rem;
}

.btn-category_product {
    text-align: center;
}

.image-preview-listproduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}

.modal-dialog {
    max-width: 600px !important;
}

.custom-badge {
    padding: 10px;
}

.dropdown-menu-custom {
    font-size: 15px;
    text-align: center;
}

.dropdown-menu-custom a:hover{
    background-color: #0d6efd;
    color: rgb(255, 255, 255);
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 3px;
}
