.profile-pic-container
{
    position: relative;
    display: inline-block;
}

.profile-pic{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
    cursor: pointer;
}

.category-filter.active{
    color: var(--ltn__secondary-color);
    font-weight: bold;
    text-decoration: underline;
}

/* Loading spinner */
#loading-spinner{
    display: flex;
    align-items: center;
    justify-self: center;
    display: none;
}

.loader{
    width: 130px;
    height: 130px;
    border: 5px solid;
    border-color: var(--ltn__secondary-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
