.profile-pic-container {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
    cursor: pointer;
}

.category-filter.active {
    color: var(--ltn__secondary-color);
    font-weight: bold;
    text-decoration: underline;
}

/* Loading spinner */
#loading-spinner {
    display: flex;
    align-items: center;
    justify-self: center;
    display: none;
}

.loader {
    width: 130px;
    height: 130px;
    border: 5px solid;
    border-color: var(--ltn__secondary-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Cart*/
.cart-product-remove {
    width: 5%;
}
.cart-product-image {
    width: 15%;
}
.cart-product-info {
    width: 35;
}
.cart-product-price {
    width: 15%;
}
.cart-product-quantity {
    width: 15%;
}
.cart-product-subtotal {
    width: 15%;
}

/*Product Detail: AddToCart*/
.ltn__product-details-menu-2 ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    gap: 15px;
}

.ltn__product-details-menu-2 ul li:nth-child(2) {
    transform: translateY(-1px);
}

.ltn__product-details-menu-2 a.add-to-cart-btn {
    padding-top: 16px;
    padding-bottom: 16px;
}

.remove-from-cart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #576466;
    width: 30px;
    height: 30px;
    border: 1px solid #576466;
    border-radius: 4px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all 0.2s ease;
}

.remove-from-cart:hover {
    background-color: #f40101;
    border-color: #ff0000;
    color: #fff;
}

/*Checkout*/
.select-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#btn-new-address {
    padding: 15px 15px;
    font-size: 14px;
}

#order_button_cash {
    min-width: 100%;
    border-radius: 5px;
    padding: 14px 40px;
}
/*Order detail*/
.order-summary-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: inline-block;
}

.order-summary-box {
    background-color: #f8f9fa; 
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    border-left: 5px solid #28a745; 
}

.order-summary-box p {
    font-size: 16px ;
    line-height: 1.6;
    margin-bottom: 8px;
}

.order-total-price {
    font-size: 17px !important;
    font-weight: 700;
    margin-top: 15px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px !important;
}

.shipping-info-box {
    padding: 20px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-left: 5px solid #28a745;
}

.shipping-info-box p {
    font-size: 16px;
    margin-bottom: 10px;
}

.order-items-table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.order-items-table th,
.order-items-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.order-items-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f1f1f1;
}

.button-actions-row {
    justify-content: center;
    margin-top: 20px;
}

.table-fixed td,
.table-fixed th {
    width: 33.33%;
}

.btn-view-detail{
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
}